@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Permanent+Marker&display=swap');
*{
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
}

.app-home {
  /* display: flex; */
  /* align-items: center; */
  /* font-family: 'Calligraffitti', cursive; */
  /* font-family: 'Permanent Marker', cursive; */
  /* height: 100%; */
  /* width: 100%; */
  /* color: beige; */
  background-color: black;

}




