.zip-header {
     font-family: 'Permanent Marker', cursive;
     font-size: 50px;
}

.zip-header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.zip-button{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}