.connect-button {
    font-family: 'Permanent Marker', cursive;
    height: 50px;
    width: 243px;
    background-color: #375f72;
    border-radius: 15px ;

    font-size: 15px;
    padding: 10px 60px;
    margin: 10px 0px;
    cursor: pointer;
}

.mint-button {
    font-family: 'Permanent Marker', cursive;
    height: 50px;
    width: 170px;
    background-color: #375f72;
    border-radius: 15px ;

    font-size: 15px;
    padding: 10px 60px;
    margin: 10px 0px;
    cursor: pointer;

}

.mint-details {
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.3);
    /* filter: blur(1px); */
}