@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.home-tag {
    font-family: 'Permanent Marker', cursive;

}

.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100%;
    width: 100%;
    /* border: black 555px solid; */
    padding: 0;
    margin: 0;
}

.home-page a {
    color: inherit;
    color: beige;
    text-decoration: none;


}

.home-page {
    background-color: black;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 665px;
        left: 0; 
        right: 0;
}