@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Permanent+Marker&display=swap');


* {
    box-sizing: border-box;
}
.home-tag {
    font-family: 'Permanent Marker', cursive;

}

.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 600px;
    width: 100%;
}

.home-page a {
    color: inherit;
    color: beige;
    text-decoration: none;


}