.about-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 342px;
}

.about-details {
    
    background-color: rgba(0, 0, 0, 0.3);
}

.about-details {
    color: antiquewhite;
}